:root {
  --blue: #144A61;
  --lightblue: #30ABE0;
}


.container-fluid {
  background-color: var(--lightblue);
}

h1 {
  color: #fff;
}

.card {
  background-color: var(--lightblue);
}

.card p {
  color: #fff;
}

.custom button {
  background-color: var(--lightblue);
}